Repository cloudalchemy/ansible-node-exporter, pull requests merged in 2020-12, with the labels that each got.

#189 switch to molecule v3
  .yamllint
  README.md
  molecule/alternative/molecule.yml
  molecule/default/create.yml
  molecule/default/destroy.yml
  molecule/default/molecule.yml
  molecule/latest/molecule.yml
  test-requirements.txt
  tox.ini
Labels: area/docs, area/tests

#191 Add release to CircleCI
  .circleci/config.yml
  .github/settings.yml
  .travis.yml
  .travis/releaser.sh
  .travis/test.sh
Labels: area/automation

#188 Skip systemd service management in check mode
  handlers/main.yml
  tasks/main.yml
Labels: area/tasks

#193 Update .mergify.yml
  .mergify.yml
Labels: area/automation

#187 Move internal vars to defaults
  defaults/main.yml
  vars/main.yml
Labels: area/automation, area/tests, area/vars

#182 Update README.md based on issue 181
  README.md
Labels: area/docs, wontfix

#196 Set telemetry_path in yaml
  README.md
  defaults/main.yml
  templates/node_exporter.service.j2
Labels: area/docs, area/jinja, area/vars
