Repository cloudalchemy/ansible-node-exporter, pull requests merged in 2020-01, with the labels that each got.

#132 move installing selinux package dependencies into separate tasks
  tasks/install.yml
  tasks/main.yml
  tasks/selinux.yml
  vars/clearlinux.yml
  vars/debian.yml
  vars/fedora.yml
  vars/redhat-7.yml
  vars/redhat-8.yml
  vars/suse.yml
Labels: area/tasks, area/vars

#137 Add binary install directory
  tasks/install.yml
  tasks/preflight.yml
  templates/node_exporter.service.j2
  vars/main.yml
Labels: area/jinja, area/tasks, area/vars

#140 Do not manage system directories
  tasks/install.yml
Labels: area/tasks

#142 remove system user management and convert variables to internal ones
  README.md
  defaults/main.yml
  molecule/alternative/playbook.yml
  molecule/alternative/tests/test_alternative.py
  tasks/configure.yml
  tasks/install.yml
  templates/node_exporter.service.j2
  vars/main.yml
Labels: area/docs, area/jinja, area/tasks, area/tests, area/vars
